Initial probe queries with type ANY should use QU and not QM flag

v0.8 sends initial probe queries with QM (multicast reply expected) instead of QU (unicast reply expected).
To avoid unnecessary responses, Multicast DNS defines the top bit in the class field of a DNS question as the unicast-response bit.
When this bit is set in a question, it indicates that the querier is willing to accept unicast replies in response to this specific query.
See RFC6762 section 5.4 and 8.1.

Section 8.1 (Probing) states: "... Because of the mDNS multicast rate-limiting rules, the probes SHOULD be sent as "QU" questions with the unicast-response bit set, to allow a defending host to respond immediately via unicast, instead of potentially having to wait before replying via multicast."

Therefore, to be compliant with RFC6762 section 8.1, initial probes with type ANY should have the unicast-response bit set to 1.
Maybe, there is a strong reason to not follow the advice to reduce the number of responses when doing probes?
Anyone here, who can shed some light on it?